In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./maitiu_datasets/Average_Daily_Traffic_Counts_-_Map.csv')

In [3]:
df

,ID,Traffic Volume Count Location Address,Street,Date of Count,Total Passing Vehicle Volume,Vehicle Volume By Each Direction of Traffic,Latitude,Longitude,Location
0,414,5838 West,Lake St,11/14/2006,7100,East Bound: 3600 / West Bound: 3500,41.887904,-87.771064,"(41.887904, -87.771064)"
1,176,320 East,76th St,03/28/2006,8600,East Bound: 3800 / West Bound: 4800,41.756542,-87.617335,"(41.756542, -87.617335)"
2,1367,1730 East,57th Dr,08/24/2006,53500,East Bound: 27800 / West Bound: 25700,41.792663,-87.582231,"(41.792663, -87.582231)"
3,316,125 East,24th St,03/30/2006,700,East Bound: 400 / West Bound: 300,41.849302,-87.622658,"(41.849302, -87.622658)"
4,1294,2924 East,130th St,08/29/2006,4200,East Bound: 2300 / West Bound: 1900,41.659177,-87.552112,"(41.659177, -87.552112)"
...,...,...,...,...,...,...,...,...,...
1274,257,256 East,35th St,03/29/2006,10200,East Bound: 4800 / West Bound: 5400,41.831081,-87.619334,"(41.831081, -87.619334)"
1275,950,2032 North,Pulaski Rd,10/05/2006,21300,North Bound: 10800 / South Bound: 10500,41.918169,-87.726590,"(41.918169, -87.72659)"
1276,118,6020 South,Halsted St,03/21/2006,13200,North Bound: 6900 / South Bound: 6300,41.784530,-87.644905,"(41.78453, -87.644905)"
1277,1091,3454 West,Franklin St,10/19/2006,5000,East Bound: 2200 / West Bound: 2800,41.890003,-87.713444,"(41.890003, -87.713444)"
1278,1045,316 West,51st St,10/19/2006,14400,East Bound: 8100 / West Bound: 6300,41.801796,-87.633948,"(41.801796, -87.633948)"